div.background-under-nav{
    background-color: rgb(243, 243, 237);
    padding: 20px 0 80px;
    margin: 0 auto;
}

div.under-nav{
    max-width: var(--width);
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}

div.our-strong, 
video.video{
    width: 50%;
}

p.our-txt{
    padding: 0;
    margin: 0;
    max-width: 400px;
    color: var(--font-color);
}

div.our-strong{
    margin: 0;
    color: #656363;
    font-family: var(--font);
    font-size: 15px;
    max-width: 500px;
    line-height: 21px;
    height: 300px;
    
}

a.Contact-Us{
    color: white;
    text-decoration: none;
    background-color: var(--first-collor);
    padding: 10px 0;
    display: inline-block;
    border-radius: 5px;
    font-family: var(--font);
    width: 180px;
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    transition: box-shadow 0.5s;
}

a.Contact-Us:hover{
    box-shadow: 0 0 20px rgb(134, 134, 134);
}

div.our-strong{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

video{
    width: 500px;
    box-shadow: 0 0 100px rgb(75, 75, 75);
    margin-top: 40px;
}

div.video{
    vertical-align: middle;
    display: flex;
    align-items: flex-end;
}

main h1.strong{
    margin: 20px 0 0;
    font-size: 60px;
    padding: 0;
    color: rgb(0, 0, 0);
    width: 600px;
    font-weight: 600;
}