div.prodacts-bg{
    width: var(--width);
    margin: 0 auto;
    font-family: var(--font);
}

div.prodacts{
    text-align: center;
    
}

div.prodacts-bg h3{
    font-size: 28px;
    color: var(--font-color);
}

hr{
    margin-top: 30px;
    width: 100px;
    background-color: var(--first-collor);
    height: 3px;
    border: 0;
}

div.component-prod{
    margin: 60px 0 30px;
}

ul.prod-item{
    list-style: none;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 0 80px;
}

.prod-item a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 18;
    font-weight:600;
    transition: color 0.5s ;
}

.prodacts p{
    color: var(--font-color);
    width: 400px;
    margin: 0 auto;
    
}

.prod-item a:hover {
    color: var(--first-collor);
}

a.special-a{
    color: var(--first-collor);
}

div.boxes{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}

div.box-block{
    margin: 20px 5px;
    width:250px;
    height: 250px;
    background-color: #f5f0dd;
    transition: box-shadow 0.5s;
}

div.box-block:hover{
    box-shadow: 0 0 20px rgb(134, 134, 134);
}

